@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
	/* ## Colors */

	/* ### Primary */

	--cl-Desaturated-Red: hsla(0, 36%, 70%, 0.755);
	--cl-Soft-Red: hsl(0, 93%, 68%);

	/* ### Neutral */

	--cl-Dark-Grayish-Red: hsl(0, 6%, 24%);

	/* ### Gradients */

	--cl-Linear1: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
	--cl-Linear2: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);

	/* ## Typography */

	/* ### Body Copy */
	--Font: 16px;
}

body {
	margin: 0%;
	font-family: Josefin Sans, sans-serif;
	font-size: var(--Font);
}
h2,
p {
	margin: 0;
}

input,
button {
	border: none;
	outline: none;
}

.card {
	display: flex;
	width: 100%;
	height: 100vh;
	background: linear-gradient(var(--cl-Linear1));
}

.card__info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 1em;
}

.card__img {
	object-fit: contain;
	width: 50%;
	height: 100%;
}

.info__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 30em;
}
.info__logo {
	top: 0;
	width: 10em;
	margin: 3em 0;
	position: absolute;
}

.info__title {
	font-size: 4em;
	font-weight: 300;
	margin: 0.5em 0;
	color: var(--cl-Desaturated-Red);
	letter-spacing: 0.25em;
}

.title__bold {
	font-weight: 600;
	color: var(--cl-Dark-Grayish-Red);
}

.info__parraf {
	font-size: 1em;
	line-height: 1em;
	color: var(--cl-Desaturated-Red);
	line-height: 160%;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
}

.form__input {
	width: 100%;
	height: 3.6em;
	border-radius: 3.6em;
	margin: 3em 0;
	border: solid 2px var(--cl-Desaturated-Red);
	text-indent: 1em;
	background: linear-gradient(var(--cl-Linear1));
}

.form__input::placeholder {
	color: var(--cl-Desaturated-Red);
}

.input__icon {
	position: absolute;
	right: 6.5em;
	display: none;
}

.form__button {
	width: 6.5em;
	height: 3.8em;
	border-radius: 3.4em;
	background: linear-gradient(var(--cl-Linear2));
	position: absolute;
	right: 0;
	cursor: pointer;
}

.active {
	display: block;
}

@media (max-width: 1050px) {
	.card {
		flex-wrap: wrap-reverse;
		justify-content: center;
		text-align: center;
		height: 100%;
	}
	.card__img {
		margin-top: 7em;
		object-fit: cover;
		width: 100%;
		height: 30em;
	}
	.info__title {
		font-size: 3em;
	}
}
