---
import logo from "../public/assets/images/logo.svg";
---

<header class="container__navbar">
	<nav class="navbar">
		<img class="navbar__icon" src={logo} alt="icon" />
		<ul class="navbar__list">
			<li class="list"><a href="#">Home</a></li>
			<li class="list"><a href="#">New</a></li>
			<li class="list"><a href="#">Popular</a></li>
			<li class="list"><a href="#">Trending</a></li>
			<li class="list"><a href="#">Categories</a></li>
		</ul>
	</nav>
</header>

<style></style>
