@mixin create-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background-img-desk {
  background: {
    size: 62em;
    repeat: no-repeat;
    position: -29em -14em;
  }
}
@mixin background-img-mob {
  background: {
    size: 20em;
    repeat: no-repeat;
    position: 5em -12em;
  }
}

@mixin create-flex-questions {
  display: flex;
  justify-content: center;
}
