@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --bg-pale-blue: hsl(225, 100%, 94%);
  --bg-bright-blue: hsl(245, 75%, 52%);

  --bg-very-pale-blue: hsl(225, 100%, 98%);
  --bg-desaturated-blue: hsl(224, 23%, 55%);
  --bg-desaturated-blue2: hsla(224, 19%, 48%, 0.079);
  --bg-dark-blue: hsl(223, 47%, 23%);

  --shadow-color: 217deg 20% 50%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);

  --shadow-color2: 217deg 20% 47%;
  --shadow-elevation: 0.3px 0.5px 0.7px hsl(var(--shadow-color2) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color2) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color2) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color2) / 0.36);
}

body,
h6 {
  margin: 0%;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("./images/pattern-background-desktop.svg") var(--bg-pale-blue)
    no-repeat;
  background-size: contain;
  font-family: Red Hat Display;
  font-size: 16px;
}

.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 22em;
  height: 33em;
  background: var(--bg-very-pale-blue);
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 0.8em;
  overflow: hidden;
}

.card-info {
  margin: 1em;
}

.card-title {
  color: var(--bg-dark-blue);
  font-size: 1.2em;
  font-weight: 900;
}

.card-text {
  color: var(--bg-desaturated-blue);
  font-size: 0.9em;
}

.card-plan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 18em;
  height: 5em;
  margin: 0 2em;
  background: var(--bg-desaturated-blue2);
  border-radius: 0.5em;
}
.plan {
  display: flex;
  align-items: center;
}
.container-plan {
  margin: 0 1em;
}

.plan-image-music {
  width: 3em;
  height: 3em;
}

.plan-name {
  font-size: 0.8em;
  color: var(--bg-dark-blue);
}

.plan-price {
  font-size: 0.8em;
  color: var(--bg-desaturated-blue);
}

.plan-link {
  font-size: 0.8em;
}

.card-container_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18em;
  margin: 1em 2em;
}
.card-button {
  width: 100%;
  height: 2.5em;
  border: none;
  border-radius: 0.3em;
  margin: 0.2em 0;
  cursor: pointer;
  font-weight: 700;
  color: var(--bg-desaturated-blue);
}

.proceed {
  background: var(--bg-bright-blue);
  color: var(--bg-very-pale-blue);
  box-shadow: var(--shadow-elevation);
}
