---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<header class="container__navbar">
		<nav class="navbar"></nav>
	</header>
	<main></main>
</Layout>

<style></style>
