@mixin create-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background-img {
  background: {
    size: 62em;
    repeat: no-repeat;
    position: -33em -13em;
  }
}

@mixin create-flex-questions {
  display: flex;
  justify-content: center;
}
