$Ver-dar-desaturate-blue: hsl(238, 29%, 16%);
$Sof-red: hsl(14, 88%, 65%);

$Sof-violet: hsl(273, 75%, 66%);
$Sof-blue: hsl(240, 73%, 65%);

$Ver-dar-grayish-blue: hsl(237, 12%, 33%);
$Dar-grayi-blue: hsl(240, 6%, 50%);

$Gradiant-bg: linear-gradient($Sof-violet 30%, $Sof-blue 100%);

$Ligh-grayish-blue: hsl(240, 5%, 91%);
