@use "./variables";
@use "./reset";
@use "./mixinsfun";

// HEADER
.container-card {
  @include mixinsfun.diplay-flex;
  width: 100%;
  height: 100vh;
  background: variables.$Light-Grayish-Blue;
}

// CARD
.card {
  @include mixinsfun.diplay-flex;
  width: 52em;
  height: 20em;
  background: variables.$White;
  border-radius: 0.7em;
  position: relative;
  margin: 1em;
}

//IMAGE
.container-image {
  border-radius: 0.7em 0 0 0.7em;
  overflow: hidden;
  width: 25em;
  height: 20em;
}
.image-drawers {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//INFO
.card-info {
  @include mixinsfun.diplay-flex;
  max-width: 30em;
  height: 20em;
  flex-direction: column;
  margin: 0 2em;
}
.info-title {
  font-size: 1.4em;
  font-weight: 700;
  color: variables.$Very-Dark-Grayish-Blue;
}
.info-parraf {
  font-size: 1em;
  color: variables.$Desaturated-Dark-Blue;
  font-weight: 500;
  margin: 2em 0;
}

// SHARE
.container-share {
  @include mixinsfun.diplay-flex;
  width: 100%;
  justify-content: space-between;
}

.share-avatar {
  width: 3em;
  height: 3em;
  border-radius: 100%;
}

.share-profile {
  display: flex;
}
.share-name {
  color: variables.$Very-Dark-Grayish-Blue;
  font-size: 0.9em;
}
.share-date {
  color: variables.$Desaturated-Dark-Blue;
  font-size: 0.9em;
}
.container-name {
  margin: 0 1em;
}
.share-button {
  width: 2.2em;
  height: 2.2em;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background: variables.$Light-Grayish-Blue;
}
.share-button::before {
  content: url("../images/icon-share.svg");
}

.share-button:focus {
  background: variables.$Grayish-Blue;
}
.share-button:focus::before {
  content: url("../images/icon-share-white.svg");
}

//MODAL
.modal-close {
  display: none;
}
.modal-open {
  @include mixinsfun.diplay-flex;
  gap: 1em;
  width: 15em;
  height: 3em;
  border-radius: 0.6em;
  position: absolute;
  bottom: 6em;
  right: -4em;
  background: variables.$Very-Dark-Grayish-Blue;
  z-index: 2;
}
.title-share {
  color: variables.$Grayish-Blue;
  font-size: 0.8em;
  letter-spacing: 0.3em;
}

.social-image {
  width: 1.1em;
}

.modal-open::after {
  content: "";
  background: variables.$Very-Dark-Grayish-Blue;
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: -0.5em;
  rotate: 45deg;
  z-index: 1;
}

@media (max-width: 1000px) {
  .card {
    flex-direction: column;
    width: 25em;
    height: 38em;
  }
  .container-image {
    border-radius: 0.7em 0.7em 0 0;
  }
  .card-info {
    margin: 2em;
  }
  .modal-open {
    justify-content: start;
    width: 100%;
    height: 6em;
    border-radius: 0 0 0.6em 0.6em;
    bottom: 0;
    left: 0;
    background: variables.$Very-Dark-Grayish-Blue;
    z-index: 2;
  }
  .modal-open::after {
    display: none;
  }
  .share-button {
    z-index: 3;
  }
  .social-image {
    width: 1.4em;
  }
  .title-share {
    font-size: 1em;
    margin-left: 2em;
  }
}
